/* ---- GLOBAL -------------------------------------------------- 
-----------------------------------------------------------------------*/


body {
	margin: 0;
	padding: 0;
}

.main-wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

.clearfix {
	content: '';
	display: table;
	clear: both;
}

/* ---- MOBILE 320px -------------------------------------------------- 
-----------------------------------------------------------------------*/

.bg-color {
	background-color: #d4675b;
	margin: 0 auto;
	padding: 20px 0 20px 0;
}

/* ---- Header ---- */

.main-nav {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.name {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 2.5em;
	color: #ececec;
	text-align: center;
	margin: 0;
}

.nav {
	padding: 0;
}

.nav li {
	margin-top: 5px;
	padding: 0 5px 0 5px;
}

.nav a {
	background-color: white;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	color: #4a4a4a;
	background-color: #fff;
	text-transform: uppercase;
	display: block;
	padding: 16px;
}



/* ---- Profile ---- */

.profile {
	text-align: center;
}

.profile-picture {
	max-width: 75%;
	margin-top: 40px;
}

.profile-text {
	font-family: 'Palanquin', sans-serif;
	font-size: 1.5em;
	text-align: center;
	color: #ececec;
	font-weight: normal;
	line-height: 1.4em;
	padding: 0 20px 0 20px;
}

/* ---- Gallery ---- */

.gallery,
.skills {
	width: 100%;
	margin: 0 auto;
	margin-top: 70px;
}

.gallery .title,
.skills .title-skills {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.3em;
	text-align: center;
	color: #4a4a4a;
	text-transform: uppercase;
	padding-bottom: 40px;
}

.main-gallery {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.main-gallery img,
.main-skills img {
	width: 100%;
}

.picture h3,
.picture-skills h3 {
	font-family: 'Palanquin', sans-serif;
	font-size: 1.4em;
	color: #4a4a4a;
	text-align: center;
}

.picture p,
.picture-skills p{
	font-family: 'Palanquin', sans-serif;
	font-size: 1.2em;
	color: #4a4a4a;
	text-align: center;
	line-height: 1.6em;
	font-weight: lighter;
	margin-bottom: 40px;
}

.bottom-space {
	padding-bottom: 40px;
}

/* ---- Skills ---- */

#skills {
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #ececec;
}

#skills .title-skills {
	padding-top: 50px;
}

.p-padding {
	padding-bottom: 50px;
}


/* ---- Contact ---- */


.contact h2, p, a {
	color: #ececec;
	text-align: center;
	padding: 0 20px 0 20px;
}

.contact p {
	font-family: 'Palanquin', sans-serif;
	font-size: 1.2em;
	line-height: 1.6em;
	text-align: center;
	font-weight: lighter;
}

.strong {
	font-weight: bold;
	letter-spacing: 1px;
}



/* ---- Footer ---- */

footer {
	width: 90%;
	margin: 0 auto;
	padding: 0 20px 0 20px;
	border-top: 1px solid #ececec;
}

.footer-name {
	color: #ececec;
	font-weight: normal;
	padding-left: 20px;
	margin: 0;
	float: left;
}

.menu1 {
	text-align: right;
	padding: 0;
	margin: 0;
}

.menu2 {
	display: none;
}



/* ---- TABLET 768px -------------------------------------------------- 
-----------------------------------------------------------------------*/

@media screen and (min-width: 768px) {

/* ---- Navigation ---- */

	header {
		padding-top: 40px;
	}
	
	.nav {
		padding-top: 20px;
	}

	.nav li {
		display: inline-block;
	}

	.nav a {
		padding: 0 20px 0 20px;
		background-color: #d4675b;
		color: #ececec;
		font-size: 1.1em;
	}


	/* ---- Profile ---- */
	
	.profile {
		padding-top: 50px;
		width: 90%;
		margin: 0 auto; 
	}

	.profile-text {
		float: left;
		width: 55%;
		vertical-align: top;
		padding-left: 20px;
		font-size: 1.3em;
		text-align: left;
		margin-top: 0;
	}

	.profile-picture {
		float: right;
		width: 35%;
		vertical-align: top;
		padding-right: 20px;
		margin-top: 0;
		padding-bottom: 50px;
	}


	/* ---- Gallery ---- */

	.gallery .title,
	.skills .title-skills {
		font-size: 1.1em;
	}


	.gallery .picture,
	.skills .picture-skills {
		width: 48%;
		float: left;
	}

	.main-gallery p {
		height: 120px;
	}

	.picture h3 {
		font-size: 1.2em;
	}

	.picture p {
		font-size: 1.1em;
	}

	.col1 {
		padding-right: 10px;
	}
	
	.col2 {
		padding-left: 10px;
	}


	/* ---- Skills ---- */

	.main-gallery #skills {
		width: 90%;
		margin: 0 auto;
		border-top: 1px solid #ececec;
	}

	#skills .title {
		padding-top: 50px;
	}

	.p-padding {
		padding-bottom: 50px;
	}


	/* ---- Contact ---- */

	.contact h2 {
		font-size: 1.1em;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.contact p {
		width: 80%;
		margin: 0 auto;
		padding-bottom: 10px;
	}

	.phone {
		padding-top: 40px;
	}


	/* ---- Footer ---- */

	footer {
		padding-bottom: 40px;
	}

	.footer-name {
		font-size: 1em;
	}

	.menu1 {
		display: none;
	}

	.menu2 {
		display: inline-block;
		float: right;
		padding-top: 0;
		margin-top: 0;
	}

	.menu2 li {
		display: inline-block;
	}


}








/* ---- DESKTOP 1024px -------------------------------------------------- 
-----------------------------------------------------------------------*/

@media screen and (min-width: 1024px) {

	/* --- Navigation ---- */

	.top-margin {
		padding-top: 20px;
	}

	.main-nav .name {
		float: left;
		font-size: 2em;
	}

	.nav {
		padding-top: 0;
		margin-top: 0;
		float: right;
	}


	/* --- Profile ---- */

	.profile p {
		padding-left: 0;
		font-size: 1.4em;
	}


	/* --- Gallery ---- */

	.gallery .picture,
	.skills .picture-skills {
		width: 30%;
		padding-left: 29px;
	}

	.col1, .col2 {
		padding-left: 0;
		padding-right: 0;
	}

	/* --- Contact---- */

	.contact p {
		width: 50%;
	}


}








